<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userstep</key>
	<string>1170</string>
	<key>usermoney</key>
	<string>300</string>
	<key>historyhighestscore</key>
	<string>0</string>
	<key>level_1</key>
	<dict>
		<key>store</key>
		<dict>
			<key>xiaocao</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<true/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>archive</key>
		<array/>
		<key>isgameover</key>
		<true/>
	</dict>
	<key>level_2</key>
	<dict>
		<key>store</key>
		<dict>
			<key>xiaocao</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<false/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>isgameover</key>
		<true/>
		<key>archive</key>
		<array/>
	</dict>
	<key>level_3</key>
	<dict>
		<key>store</key>
		<dict>
			<key>maowu</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<false/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>isgameover</key>
		<true/>
		<key>archive</key>
		<array/>
	</dict>
	<key>level_4</key>
	<dict>
		<key>store</key>
		<dict>
			<key>xiaocao</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<false/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>isgameover</key>
		<true/>
		<key>archive</key>
		<array/>
	</dict>
	<key>level_5</key>
	<dict>
		<key>store</key>
		<dict>
			<key>xiaocao</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<false/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>isgameover</key>
		<true/>
		<key>archive</key>
		<array/>
	</dict>
	<key>level_6</key>
	<dict>
		<key>store</key>
		<dict>
			<key>xiaocao</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<false/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>isgameover</key>
		<true/>
		<key>archive</key>
		<array/>
	</dict>
	<key>level_7</key>
	<dict>
		<key>store</key>
		<dict>
			<key>xiaocao</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<false/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>isgameover</key>
		<true/>
		<key>archive</key>
		<array/>
	</dict>
	<key>level_8</key>
	<dict>
		<key>store</key>
		<dict>
			<key>xiaocao</key>
			<integer>12</integer>
			<key>luobo</key>
			<integer>12</integer>
			<key>dashu</key>
			<integer>12</integer>
			<key>bom</key>
			<integer>8</integer>
			<key>colorball</key>
			<integer>8</integer>
		</dict>
		<key>isopen</key>
		<false/>
		<key>currentscore</key>
		<string>0</string>
		<key>highestscore</key>
		<string>0</string>
		<key>isgameover</key>
		<true/>
		<key>archive</key>
		<array/>
	</dict>
	<key>sound_bg</key>
	<true/>
	<key>sound_action</key>
	<true/>
	<key>sound_human</key>
	<true/>
	<key>stepremembertime</key>
	<string>2012-01-02 06:23:34</string>
	<key>stepremembersecond</key>
	<string></string>
	<key>step</key>
	<string>147</string>
</dict>
</plist>
